#myMap {
  height: 100%;
}

.slowTransition {
  transition: all 0.2s ease-in-out;
}

.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}

.notClickable {
  pointer-events: none !important;
}

.label {
  background-color: darkblue;
  color: white;
  width: 25px;
  padding-left: 4px;
}

.text-shadow {
  text-shadow: 2px 1px indigo;
}

.scroll {
  overflow-y: auto;
  max-height: 88vh;
}

@media (max-width: 575px) {
  .scroll {
    overflow-y: visible;
  }
}

.minHeight {
  min-height: 65px;
}
.slider-width {
  max-width: 250px;
}
