/* body {
  transition: all 0.5s ease-in-out !important;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
} */

#myMap {
  height: 100%;
}

.slowTransition {
  transition: all 0.2s ease-in-out;
}

.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}

.notClickable {
  pointer-events: none;
}

.label {
  background-color: darkblue;
  color: white;
  width: 25px;
  padding-left: 4px;
}

.scroll {
  /* overflow-x: hidden; */
  /* position: absolute; */
  overflow-y: auto;
  max-height: 99vh;
}
